@font-face{
  font-family: 'roboto';
  font-weight: 400;
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}
@font-face{
  font-family: 'roboto';
  font-weight: 700;
  src: url('../fonts/Roboto-Bold.ttf') format('truetype');
}
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: 'roboto';
  font-weight: 400;
}
/* header */
.header{
  width: 1110px;
  min-height: 200px;
  margin: 0 auto;
  /* border: 3px solid black; */
}
/* navbar */
.navbar{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbar__logo{
  margin: 50px 0;
}
.navbar__list{
  display: flex;
}
.navbar__list a{
  padding: 16px 4px;
  margin: 0 19px;
  display: flex;
  border-bottom: 2px solid transparent;
  color: #bab9b9;
  font-size: 18px;
}
.navbar__list a:hover{
  border-block-color: #4581b7;
  color: #4581b7;
}
.header__img{
  width: 100%;
  height: 450px;
  margin-top: 50px;
}
.header__img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* section */
.content{
  width: 1110px;
  min-height: 200px;
  margin: 0 auto;
  /* border: 3px solid black; */
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
}
.content__left{
  width: 730px;
}
.content__right{
  width: 350px;
}
.content__left,
.content__right{
  background: #f0f0f0;
  padding: 40px;
}
.content h2{
  font-size: 20px;
  font-weight: 700;
  color: #4581b7;
  margin-bottom: 20px;
}
.content p,
.content a{
  font-size: 16px;
  line-height: 27px;
  color: #7f7f7f;
}
.content a{
  margin-top: 40px;
  display: flex;
}
/* footer */
.footer{
  width: 1110px;
  min-height: 100px;
  background: #f0f0f0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}
.footer__contact{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.footer__contact span{
  font-size: 16px;
  color: #808080;
}
.footer__contact a{
  font-size: 25px;
  font-weight: 700;
  color: #808080;
}